<div class="direction-inline space-between p-2">
  <p> Rent a bike </p>
  <p> Rent your bike </p>
  <p> The favorites bikes </p>
  <p> Your reservations </p>
  <p> Your messages </p>
  <% if user_signed_in? %>
    <%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete} %>
  <% else current_user.present? %>
    <%= link_to "log in", new_user_session_path %>
  <% end %>
</div>
