<div class="direction-inline">
  <li> Rent a bike </li>
  <li> Rent your bike </li>
  <li> The favorites bikes </li>
  <li> Your reservations </li>
  <li> Your messages </li>
  <li> sign up </li>
</div>
