// Specific CSS for your home-page
#video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  z-index: 2;
}

.in-middle-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bike-animation {
  height: 100vh;
  color: rgb(255, 255, 255);
  font-size: xxx-large;
  margin-bottom: -1rem;
}

.animate__animated.animate__backInLeft {
  --animate-duration: 3s;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.frame-slide-up {
  animation: slideUp 1s forwards;
}

.display-home {
  position: fixed; /* Si vous voulez que le menu soit toujours visible */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent */
  color: white;
  padding: 1em;
  z-index: 1; /* Assurez-vous qu'il est au-dessus de la vidéo */
}
