/* index card */
.cards-container {
  display: grid;
  width: 64%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0 2rem 2rem 2rem;
  border-radius: 8px;
  min-height: 100vh;
}

.card {
  color: white;
  background-color: #00000033;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.bike-card {
  width: 50%;
  height: 30vh;
  height: auto;
}

.info-card {
  display: flex;
  flex-direction: column;
  padding: 23px;
}

.card-small-img {
  height: 144px;
  width: 100%;
  object-fit: cover;
}

.card-solo-img {
  height: 594px;
  width: 100%;
  object-fit: cover;
}

.card-small-medium {
  height: 317px;
  width: 100%;
  object-fit: cover;
}

.card-solo {
  height: auto;
  flex-direction: row;
}

.relative-position {
  position: relative;
  top: 109px;
}
