/* form text-field zip code */
.form-zip-code-search {
  background-color: #272727;
  border: unset;
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
  color: white;
  width: 100%;
}

.form-zip-code-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}

.form-zip-code-search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}

.form-zip-code-search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity:  1;
}

.form-zip-code-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-zip-code-search::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.form-zip-code-search::placeholder { /* Most modern browsers support this now. */
  color: white;
}

.form-height {
  height: 20px;
}

.dropbtn {
  background-color:  #232222;
  width: 100%;
  color: white;
  font-size: 16px;
  border: none;
}

input[type=checkbox] {
  background-color: #32a1ce;
}

.dropdown-content {
  background-color:  #232222;
  width: 100%;
  left: 0;
  height: 0;
  opacity: 0;
  position: relative;
  transition: all .5s ease;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 13px;
}
.dropdown:hover .dropdown-content, .dropdown:hover .search_button {
  height: 143px;
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-input input[type="checkbox"] {
  display: none;
}

.dropdown-input {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox-custom {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: rgb(58, 56, 56);
}

.dropdown-input input[type="checkbox"]:checked + span::before {
  background-color: #007BFF;
  border-color: #007BFF;
  content: '✓';
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
