#video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  z-index: 2;
}

#bike-animation {
  height: 100vh;
  color: rgb(255, 255, 255);
  font-size: xxx-large;
  margin-bottom: -1rem;
}

.animate__animated.animate__backInLeft {
  --animate-duration: 3s;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.frame-slide-up {
  animation: slideUp 1s forwards;
}

.display-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
  display: flex;
}
