.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #313131;
  width: 199px;
  font-size: 13px;
  padding: 0px;
}

.mapboxgl-popup-close-button {
  color: white;
  border: none;
}
.custom-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.custom-marker {
  color: #291f99;
  font-size: large;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-top-color: #313131 !important;
  border-bottom-color: #313131 !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #313131 !important;
  border-right-color: #313131 !important;
}

.mapboxgl-popup-close-button:focus, .mapboxgl-popup-content:focus, .bike-button:focus {
  outline: none;
}

.bike-button img {
  height: 144px;
  width: 100%;
  object-fit: cover;
}

.bike-info-on-map {
  padding: 8px;
}

.map-and-searchbar {
  width: 36%;
  position: fixed;
  right: 0;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 85%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  border-radius: 2px !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  color: white !important;
  width: 80%;
}

.suggestions {
  background-color: #313131 !important;
  border: none !important;
}

.active {
  background-color: #313131 !important;
  border: none !important;
}

.mapboxgl-ctrl-geocoder--suggestion-title, .mapboxgl-ctrl-geocoder--suggestion-address {
  color: white !important;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: #313131 !important;
}
